* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: navy;
}

.containerCard {
    width: 1100px;
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.containerCard .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: white;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: .3s ease-in-out;
    
}

.containerCard .card:hover {
    height: 510px;
}

.containerCard .card .imagen {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.containerCard .card .imagen img {
    width: 100%;
    border-radius: 4px;
}


.containerCard .card .contenido {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
}

.containerCard .card:hover .contenido {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: .3s;
}

/*segunda carta*/

.containerCard2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: white;
}

.containerCard2 .card2 {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: wheat;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
    transition: 1.0s;
}

.card2:hover {
    transform: translateX(50%);
}

.card2 .detalles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2 .detalles .contenido2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card2 .detalles .contenido2 h2 {
   text-align: center; 
   font-size: 1.4rem;
}

.card2 .detalles .contenido2 h2 span {
    font-size: 1.1rem;
    color: #e21212;
}

.card2 .detalles .contenido2 .iconos {
    position: relative;
    display: flex;
    margin-top: 10px;
}

.card2 .detalles .contenido2 .iconos a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px;
    font-size: 18px;
    transition: .2s;
}

.card2 .detalles .contenido2 .iconos a:hover {
    background-color: #e21212;
}

.imagen2 {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    background-color: #1e1e1e;
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
    transition: 1.0s;
}

.card2:hover .imagen2 {
    transform: rotateY(-180deg);
}

.imagen2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.imagen2 img:nth-child(2) {
    transform: rotateY(180deg);
}
